/** sticky footer css **/

html, body {
	height: 100%;
}
.container {
	display: table;
	height: 100%;
}
.block {
	display: table-row;
	height: 1px;
}
.push {
	height: auto;
}

/** end sticky footer css **/



.container {
	margin: auto;
	background-color: #ffffff;
	border-radius: 5px;
	max-width: 960px;
}

.main p {padding: 10px;}

footer {
	background-color: #808087;
	margin: auto;
	clear: both;
	padding: 5px;
}

.main {
	margin: auto;
	border-radius: 5px;
}

body {
	background: #ffffff url('../images/greywash.png') fixed;
}



/* brand and nav */


#brand {
	font-family: 'Droid Serif', Georgia, serif;
	margin: auto;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	color:#323232;
	margin:5px;
	padding-top: 10px;
}

#brand:first-letter{
	color: #808087;
}



nav {
	font-family: 'Droid Sans', Helvetica, sans-serif;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: auto;
}

nav ul {
	text-align: center;
}

nav li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
}

nav a {
	text-decoration: none;
	color: #444447;
	padding: 8px;
}

nav a:hover,
nav a:focus {
	color: #1769A6;
	outline: none;
	border-bottom: 2px solid #8F2422;
}

nav a:visited {
	color: #1769A6;
}


/* main content styling */

p {
	font-family: 'Droid Sans', Helvetica, sans-serif;
	font-size: 16px;
	text-align: justify;
}

article {
	padding:5px;
}

a {
	text-decoration: none;
	color: #2F42BF;
}

a:visited {
	color: #534469;
}

a:hover, 
a:focus {
	outline: none;
	border-bottom: 1px solid #8F2422;
}

#left {
	float: left;
	width: 45%;
	padding: 0px 10px;
}

#right {
	float: right;
	width: 45%;
	padding: 0px 10px;
}

/** footer styling **/

footer p {
	font-size: 10px;
	font-family: Helvetica, sans-serif;
	text-align: center;
	color: white;
}

#copyright {clear: both}

#footer-sidebar {
	height: 200px;
	display: inline;
	width: 100%;
}

#left-footer {
	float: left;
	margin: 5px;
	width: 33.33%;
}

#left-footer .widget {
	font-family: 'Droid';
}

#left-footer .widgettitle {
	font-family: 'Droid Serif';
}


#middle-footer {
	float: left;
	margin: 5px;
	width: 33.33%;
}

#middle-footer .widget {
	font-family: 'Droid';
}

#middle-footer .widgettitle {
	font-family: 'Droid Serif';
}


#right_footer {
	float: left;
	margin: 5px;
	width: 33.33%;
}

#right_footer .widget {
	font-family: 'Droid';
}

#right_footer .widgettitle {
	font-family: 'Droid Serif';
}













